body {
  height: 100%;
  width: 100%;
  background: rgb(8.208, 15.048, 25.992);
  overflow: hidden;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.glass {
  height: 700px;
  width: 400px;
  background: #122139;
  border-radius: 600px 600px 0px 0px;
}
.glass:before {
  content: "";
  height: 20px;
  width: 20px;
  transform-origin: center;
  border: 20px solid #122139;
  border-radius: 100%;
  position: absolute;
  left: 173px;
  top: -50px;
}
.glass:after {
  content: "";
  position: absolute;
  height: 30px;
  width: 500px;
  background: #a52a2a;
  top: 100%;
  left: -13%;
}

.shine {
  width: 24px;
  height: 280px;
  background: white;
  opacity: 0.2;
  position: absolute;
  left: 85%;
  top: 160px;
  border-radius: 200px;
  z-index: 10;
}
.shine:before {
  content: "";
  width: 24px;
  height: 40px;
  position: absolute;
  background: white;
  top: 320px;
  border-radius: 200px;
}

.petals > div {
  position: absolute;
  background: #d52d58;
  width: 90px;
  height: 160px;
  top: 110px;
  transition: all 0.5s ease-out;
}
.petals > div:nth-child(1) {
  border-radius: 30px;
  box-shadow: 0px 0px 60px rgb(245, 148, 184);
  left: 160px;
  top: 120px;
  background: #d52d58;
}
.petals > div:nth-child(2), .petals > div:nth-child(4), .petals > div:nth-child(6) {
  background: #b81b43;
  left: 120px;
  border-radius: 0px 60px 0px 60px;
  transform-origin: bottom right;
}
.petals > div:nth-child(3), .petals > div:nth-child(5), .petals > div:nth-child(7) {
  background: #b81b43;
  left: 200px;
  border-radius: 60px 0px 60px 0px;
  transform-origin: bottom left;
}
.petals > div:nth-child(2) {
  z-index: 5;
  background: rgb(171.2824175824, 26.0175824176, 62.8758241758);
  top: 150px;
  height: 140px;
  box-shadow: 0px 0px 100px rgba(245, 148, 184, 0.5);
  animation: bloom2 3s ease-in-out;
  animation-fill-mode: forwards;
}
.petals > div:nth-child(3) {
  z-index: 4;
  background: rgb(171.2824175824, 26.0175824176, 62.8758241758);
  top: 150px;
  height: 140px;
  box-shadow: 0px 0px 100px rgba(245, 148, 184, 0.5);
  animation: bloom3 3s ease-in-out, glowing 2.5s ease-in-out infinite;
  animation-fill-mode: forwards;
}
.petals > div:nth-child(4) {
  z-index: 3;
  background: #b81b43;
  top: 140px;
  height: 150px;
  box-shadow: 0px 0px 100px rgba(245, 148, 184, 0.5);
  animation: bloom4 3s ease-in-out, glowing 2.5s ease-in-out infinite;
  animation-fill-mode: forwards;
}
.petals > div:nth-child(5) {
  z-index: 2;
  background: #b81b43;
  top: 140px;
  height: 150px;
  box-shadow: 0px 0px 100px rgba(245, 148, 184, 0.5);
  animation: bloom5 3s ease-in-out, glowing 2.5s ease-in-out infinite;
  animation-fill-mode: forwards;
}
.petals > div:nth-child(6) {
  z-index: 1;
  background: #c9204b;
  top: 130px;
  height: 140px;
  box-shadow: 0px 0px 100px rgba(245, 148, 184, 0.3);
  animation: bloom6 3s ease-in-out, glowing 2.5s ease-in-out infinite;
  animation-fill-mode: forwards;
}
.petals > div:nth-child(7) {
  z-index: 0;
  background: #c9204b;
  top: 130px;
  height: 140px;
  box-shadow: 0px 0px 100px rgba(245, 148, 184, 0.3);
  animation: bloom7 3s ease-in-out, glowing 2.5s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.deadPetals > div {
  position: absolute;
  background: #d52d58;
  width: 40px;
  height: 30px;
  top: 230px;
  border-radius: 0px 60px 0px 60px;
  box-shadow: 0px 0px 60px rgba(245, 148, 184, 0.5);
  transition: all 0.5s ease-out;
}
.deadPetals > div:nth-child(1) {
  left: 210px;
  transform: rotate(-30deg);
  animation: falling 20s 4s ease-in-out infinite;
}
.deadPetals > div:nth-child(2) {
  left: 226px;
  transform: rotate(-30deg);
  animation: falling 20s 8s ease-in-out infinite;
}
.deadPetals > div:nth-child(3) {
  left: 133px;
  transform: rotate(-30deg);
  animation: falling 20s 12s ease-in-out infinite;
}
.deadPetals > div:nth-child(4) {
  left: 206px;
  transform: rotate(-30deg);
  animation: falling 20s 16s ease-in-out infinite;
}

.leaves > div:nth-last-child(1) {
  position: absolute;
  width: 110px;
  height: 60px;
  background: #338f37;
  top: 240px;
  left: 150px;
  border-radius: 200px;
}
.leaves > div:nth-child(1) {
  position: absolute;
  width: 12px;
  height: 420px;
  background: rgb(4.5566037736, 75.9433962264, 4.5566037736);
  top: 190px;
  left: 200px;
  border-radius: 0 0 200px 200px;
}
.leaves > div:nth-child(2) {
  position: absolute;
  width: 60px;
  height: 100px;
  top: 105px;
  border-radius: 10px 80px 40px 80px;
  background: rgb(4.5566037736, 75.9433962264, 4.5566037736);
  transform-origin: bottom;
  transform: rotate(-30deg);
  top: 360px;
  left: 160px;
  box-shadow: inset 10px 10px #066406;
}
.leaves > div:nth-child(3) {
  position: absolute;
  width: 60px;
  height: 100px;
  top: 105px;
  border-radius: 80px 10px 80px 40px;
  background: rgb(4.5566037736, 75.9433962264, 4.5566037736);
  transform-origin: bottom;
  transform: rotate(30deg);
  top: 300px;
  left: 190px;
  box-shadow: inset -10px 10px #066406;
}

.thorns > div {
  position: absolute;
  width: 0;
  height: 0;
  top: 280px;
}
.thorns > div:nth-child(odd) {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(4.5566037736, 75.9433962264, 4.5566037736);
  left: 210px;
}
.thorns > div:nth-child(even) {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgb(4.5566037736, 75.9433962264, 4.5566037736);
  left: 190px;
}
.thorns > div:nth-child(1) {
  top: 400px;
}
.thorns > div:nth-child(2) {
  top: 340px;
}
.thorns > div:nth-child(4) {
  top: 460px;
}

@keyframes bloom2 {
  50% {
    transform: rotate(-90deg);
    top: 400px;
    left: 200px;
  }
  100% {
    transform: rotate(-60deg);
    top: 504px;
    left: 100px;
    background: rgb(113.008583691, 17.991416309, 42.1673819742);
    box-shadow: 0px 0px 0px rgba(245, 148, 184, 0);
  }
}
@keyframes bloom3 {
  100% {
    transform: rotate(45deg);
  }
}
@keyframes bloom4 {
  100% {
    transform: rotate(-20deg);
  }
}
@keyframes bloom5 {
  100% {
    transform: rotate(20deg);
  }
}
@keyframes bloom6 {
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes bloom7 {
  100% {
    transform: rotate(5deg);
  }
}
@keyframes glowing {
  50% {
    background: rgb(214.7, 53.5, 94.7595238095);
    box-shadow: 0px 0px 60px rgb(245, 148, 184);
  }
}
@keyframes falling {
  20% {
    top: 700px;
    background: rgb(157.0042918455, 24.9957081545, 58.5836909871);
    box-shadow: 0px 0px 0px rgba(245, 148, 184, 0);
  }
  100% {
    top: 700px;
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .container {
    transform: translate(-50%, -50%) scale(1.5);
  }
}
@media (max-width: 480px) {
  .container {
    transform: translate(-50%, -50%) scale(1.8);
  }
}
@media (max-width: 320px) {
  .container {
    transform: translate(-50%, -50%) scale(2.1);
  }
}

/*# sourceMappingURL=style.css.map */
